{% load i18n admin_static ghoster_tags %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    {% get_base_media as base_media %}
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheet %}
        {{ base_media.css }}
    {% endblock %}
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}
        <link rel="stylesheet" type="text/css"
              href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}"/>{% endif %}
    {% block extrahead %}{% endblock %}
    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE"/>{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
      data-admin-utc-offset="{% now "Z" %}">

<section class="wrapper">
    <!-- Container -->
    {% if not is_popup %}
        {% block ghoster-title %}

            <nav role="navigation" class="navbar navbar-default navbar-top navbar-fixed-top">
                <!-- Header -->
                <div class="navbar-header">
                    <a href="#" class="navbar-brand">
                        <div class="brand-logo">{% block branding %}{% endblock %}</div>
                        <div class="brand-logo-collapsed">DJ</div>
                    </a>
                </div>
                <div class="nav-wrapper">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" data-toggle="aside">
                                <span class="oi oi-collapse-left"></span>
                            </a>
                        </li>
                        <li>
                          {% block ghoster-search %}
                              {# <form role="search" class="navbar-form"> #}
                                  {# <div class="form-group has-feedback"> #}
                                      {# <input type="text" placeholder="Type and hit Enter.." class="form-control"> #}
                                      {# <div data-toggle="navbar-search-dismiss" class="fa fa-times form-control-feedback"></div> #}
                                  {# </div> #}
                                  {# <button type="submit" class="hidden btn btn-default">Submit</button> #}
                              {# </form> #}
                          {% endblock %}
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" data-toggle="offsidebar">
                                <span class="oi oi-align-right"></span>
{#                                <em class="fa fa-align-right"></em>#}
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endblock %}
        {% block nav-global %}
            <aside class="aside">
                <nav class="sidebar">
                    <ul class="nav">
                        <li>
                            {% block usertools %}
                                {% if has_permission %}
                                    <div data-toggle="collapse-next" class="item user-block has-submenu">
                                        <div class="user-block-picture">
                                            <img src="{% static "admin/img/user/avatar.jpg" %}" alt="Avatar" width="60"
                                                 height="60" class="img-thumbnail img-circle">
                                        </div>
                                        <div class="user-block-info">
                                            {% block welcome-msg %}
                                                <span class="user-block-name item-text">
                                                    {% trans 'Welcome' %}</span>
                                                <span class="user-block-role">
                                                {% firstof user.get_short_name user.get_username %}
                                            </span>
                                            {% endblock %}
                                        </div>
                                    </div>
                                    {% block userlinks %}
                                        <ul class="nav collapse">
                                            <li>
                                                {% if site_url %}
                                                    <a href="{{ site_url }}">{% trans 'View site' %}</a>
                                                {% endif %}
                                                {% if user.is_active and user.is_staff %}
                                                    {% url 'django-admindocs-docroot' as docsroot %}
                                                    {% if docsroot %}
                                                        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
                                                    {% endif %}
                                                {% endif %}
                                            </li>
                                            <li>
                                                {% if user.has_usable_password %}
                                                    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a>
                                                {% endif %}
                                            </li>
                                            <li>
                                                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
                                            </li>
                                        </ul>
                                    {% endblock %}
                                {% endif %}
                            {% endblock %}
                        </li>


                        {% block ghoster-menu %}
                            {% if ghoster_app_list %}
                                {% for app in ghoster_app_list %}
                                    <li>
                                        <a href="{{ app.app_url }}" data-toggle="collapse-next" class="has-submenu"
                                           title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">
                                            <span class="oi oi-list-rich"></span>
                                            <span class="item-text">{{ app.name }}</span></a>
                                        <ul class="nav collapse ">
                                            {% for model in app.models %}
                                                {% if model.admin_url %}
                                                    <li>

                                                        <a href="{{ model.admin_url }}" data-toggle=""
                                                           class="no-submenu">
                                                        <span class="item-text">{{ model.name }}</span>
                                                        </a>
                                                    </li>
                                                {% else %}
                                                    <li>{{ model.name }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        {% endblock %}
                    </ul>
                </nav>
            </aside>
        {% endblock %}

        {% block breadcrumbs %}
            <div class="breadcrumbs">
                <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
                {% if title %} &rsaquo; {{ title }}{% endif %}
            </div>
        {% endblock %}
    {% endif %}

    <section class="main-content">
        {% block messages %}
            {% if messages %}
                <ul class="messagelist">{% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                {% endfor %}</ul>
            {% endif %}
        {% endblock messages %}

        <!-- Content -->
        <div id="content" class="{% block coltype %}colM{% endblock %}">
            {% block pretitle %}{% endblock %}
            {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
            {% block content %}
                {% block object-tools %}{% endblock %}
                {{ content }}
            {% endblock %}
            {% block sidebar %}{% endblock %}
            <br class="clear"/>
        </div>
        <!-- END Content -->

        {% block footer %}
            <div id="footer">
                {{ base_media.js }}
                <script>var $j = jQuery.noConflict(true);</script>
            </div>
        {% endblock %}
        <!-- END Container -->
    </section>
</section>
</body>
</html>
